/* remove ads at poczta.wp.pl */
.wpAdv,
.nepal-fullpage,
.ml20, .mt16,
div[id*="adv"],
iframe[id*="advdyn"],
#bx3Collapser,
a[href*="gemius.pl"],
a[href*="//adv.wp.pl/RM/click_lx.ads"],
a[href*="//ad.doubleclick.net/"],
img[src*="//rek.www.wp.pl/rgr.html"],
iframe[src*="pomagasz"],
.postSendWnd tr:nth-child(4),
#w345_dr,
div[onclick="window.open(window.clickTag, '_blank ')"],
#poczta_loginbox_iframe {
 display:none !important;
}
/* new message window at poczta.wp.pl */
.popupMiddleCenterInner { overflow: hidden !important; }
/* restyle login page at poczta.wp.pl */
.bxLogowanie {
 height: 413px !important;
}
#stgHeader,
#stgFooter,
#rightLogBox,
.bxZalety {
 display:block !important;
}
#stgHeader { border-top: none !important; }
#stgMain {
 position: static !important;
 width: 970px !important;
 height: auto !important;
 left: auto !important;
 top: auto !important;
}
#stgMain { background-color: #fff !important; }

/* www.rmfon.pl */
#inContext_disabled,
#axds,
#RMF_ON_player_bill,
#frame div[id*="ad-"],
#ad-gora-bill,
.news-box-reklama { display:none !important; }
.news-box-hidden { display:block !important; }
body[class*="rmf"] #frame,
body.maxxx #frame,
body.classic #frame,
body.elo #frame,
body. #frame,
body.rock #frame { height:600px !important; }
