iframe[src*="ads.salesmore.pl"],
iframe[src*="afx.tagcdn.com"],
iframe[src*="s0.2mdn.net"],
a[href*="clk.tradedoubler.com"] {
 display:none !important;
}
/* remove ads at poczta.wp.pl */
body > div#main > div#middle > div#mainColumn > div:nth-child(2),
body > div#main > div#middle > div#rightColumn,
body > div#main > div#middle > div#leftColumn > div#leftColumnInner > table.dragdrop-dropTarget > tr:nth-child(5),
body > div#main > div#middle > div#leftColumn > div#leftColumnInner > table.dragdrop-dropTarget > tr:nth-child(6),
.wpAdv,
.nepal-fullpage,
.ml20, .mt16,
div[id*="adv"],
iframe[id*="advdyn"],
#bx3Collapser,
a[href*="gemius.pl"],
a[href*="//adv.wp.pl/RM/click_lx.ads"],
a[href*="//ad.doubleclick.net/"],
a[href*="//owabgxis.wp.pl"],
img[src*="//rek.www.wp.pl/rgr.html"],
iframe[src*="pomagasz"],
.postSendWnd tr:nth-child(4),
#w345_dr,
div[onclick="window.open(window.clickTag, '_blank ')"],
#poczta_loginbox_iframe {
 display:none !important;
}
/* new message window at poczta.wp.pl */
.popupMiddleCenterInner { overflow: hidden !important; }
/* restyle login page at poczta.wp.pl */
.bxLogowanie {
 height: 413px !important;
}
#stgHeader,
#stgFooter,
#rightLogBox,
.bxZalety {
 display:block !important;
}
#stgHeader { border-top: none !important; }
#stgMain {
 position: static !important;
 width: 970px !important;
 height: auto !important;
 left: auto !important;
 top: auto !important;
}
#stgMain { background-color: #fff !important; }

/* www.rmfon.pl */
#inContext_disabled,
#axds,
#RMF_ON_player_bill,
#frame div[id*="ad-"],
#ad-gora-bill,
.news-box-reklama { display:none !important; }
.news-box-hidden { display:block !important; }
/*body[class*="rmf"] #frame,
body.maxxx #frame,
body.classic #frame,
body.elo #frame,
body[class*="lat"] #frame,
body[class*="0s"] #frame,
body[class^="20"][class$="0"] #frame,
body.alternatywa #frame,
body.baby #frame,
body.bajki #frame,
body.blues #frame,
body.classicrock #frame,
body.rock #frame { height:600px !important; }*/
body div#news-wrapper div#news-header {margin-top:75px !important;}
